<section class="flex gap-x-4 mb-10">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      ¡Hola! Soy Andrei, tengo 26 años y soy de Lima, Perú. Mi apasionado
      interés por el desarrollo web me llevó a participar en un bootcamp,
      especializándome en front-end durante seis meses. Durante este tiempo,
      adquirí conocimientos valiosos en el fascinante mundo del diseño y la
      programación web.
    </p>
    <p>
      Mi experiencia incluye colaborar en una empresa donde contribuí al
      <strong>desarrollo de una aplicación de aprendizaje virtual</strong>, lo
      que me permitió aplicar mis habilidades y aprender aún más sobre la
      creación de experiencias educativas en línea.
    </p>
    <p>
      En la actualidad, continúo expandiendo mis conocimientos de forma
      autodidacta y estudiando en la universidad, buscando siempre nuevas
      oportunidades para crecer y aportar al mundo del desarrollo web.
    </p>
  </div>
  <img src="" alt="" />
</section>
